:host{
  padding:2vh;
  display:flex;
  flex-direction: row;
  margin: 2vh auto;
    border:1px solid black;
  background-color: aliceblue;
  width:min(90%,890px);
  gap:2vh;
}
p{
  text-align: justify;
}
.foto{
  flex-basis: 25%;
}

.foto img{
  width: 100%;;
}

@media (max-width:800px){
  :host{
    flex-direction: column;
  }
  .foto{
    width:30%;
    margin: auto auto;
  }
  h2{
    text-align: center;
  }
}
