<h2>Meu portfolio</h2>

<div class="grid">
  <app-itemport name="Máquina de Turing"
  description="Um dispositivo teórico, que é a base de toda a computação moderna."
  image="/assets/turingmachine.webp"/>
  <app-itemport name="Decriptação da Enigma"
  description="Descriptografei o código da Enigma, dispositivo usado pelos nazistas para a comunicação"
  image="/assets/enigma.webp"/>
  <app-itemport name="Transmissor Delilah"
  description="Dispositivo que posibilitava uma comunicação via rádio criptografada."
  image="/assets/delilah.png"/>
  <app-itemport name="Turochamp"
  description="Algoritmo que realiza partidas de xadrez. Tão complexo que não rodou no computador da época."
  image="/assets/turochamp.jpg"/>
  <app-itemport name="Manchester Mark"
  description="Primeiro computador a armazenar programas para sua execução"
  image="/assets/mm.jpg"/>
</div>
