/* You can add global styles to this file, and also import other style files */
html,body{
  margin: 0;
  padding: 0;
}

body{
   background-image: linear-gradient(
    50deg,
    hsl(88deg 24% 67%) 0%,
    hsl(76deg 33% 67%) 9%,
    hsl(65deg 41% 67%) 17%,
    hsl(55deg 55% 68%) 24%,
    hsl(33deg 67% 74%) 30%,
    hsl(17deg 49% 76%) 36%,
    hsl(0deg 17% 73%) 42%,
    hsl(31deg 28% 71%) 47%,
    hsl(93deg 23% 71%) 53%,
    hsl(171deg 45% 70%) 59%,
    hsl(198deg 42% 65%) 65%,
    hsl(234deg 17% 62%) 74%,
    hsl(323deg 9% 50%) 99%
  );
}
